@import '../../styles/utils/colors';

.loader {
  color: $elephant-paw;
  height: 20px;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg)
  }
}